.headerButtons{
    background-color: rgba(180,40,40,0.9);
    /*float: left;*/
    align: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font: 25px monospace;
    color: white;
    height: 60px;
    width: 150px;
}

.all{
  font-family: monospace;

}

.hidden{
  display: none;
}

.orderButton{
  text-align: right;
  padding-right:40px;
}

input{
  font: 15px monospace;
}

th{
  font-size: 15px;
}

td, th{
  border-collapse: collapse;
  border-style: solid;
  text-align: center;
}
table{
  border-style: solid;
  border-collapse: collapse;
  width: 95%;
  border-color: black;
  border-width: 4px;
  margin: auto;
}

.stockTable{
}

div.headerTabs {
    text-align: center;
    overflow: hidden;
    border: 1px solid;
    background-color: rgba(200,10,40,0.8);
}

body{
  font-family: monospace;
}
